node_modules
vendor
.git
.env
storage/*.sqlite
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
bootstrap/cache/*.php
public/storage
public/products
public/branding
